<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZZpjVfzsoSSEDZo8-m1rUjVefH1cfq8A</string>
	<key>GCM_SENDER_ID</key>
	<string>513309634754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mbtiapp</string>
	<key>PROJECT_ID</key>
	<string>mbti-14d44</string>
	<key>STORAGE_BUCKET</key>
	<string>mbti-14d44.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513309634754:ios:93f8e222417bd947a6cb5b</string>
</dict>
</plist>